.player-info {
  width: 100%;
  height: 783px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.player-info__stats {
  width: 100%;
}

.player-info__stats__top-row, .player-info__stats__bottom-row {
  width: 100%;
}

.player-info__stats__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.player-info__stats__top-row__left-col {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.player-info__stats__top-row__middle-col {
  width: 620px;
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.player-info__stats__top-row__middle-col__left-side {
  width: 320px;
  height: 100%;
  float: left;
}

.player-info__stats__top-row__middle-col__left-side > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-info__stats__top-row__middle-col__left-side__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.player-info__stats__top-row__middle-col__left-side__detail p {
  margin: 10px;
  font-size: 20px;
  font-weight: 400;
}

.player-info__stats__top-row__middle-col__right-side {
  height: 100%;
}

.player-info__stats__top-row__middle-col__right-side > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-info__stats__top-row__middle-col__right-side__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.player-info__stats__top-row__middle-col__right-side__detail p {
  margin: 10px;
  font-size: 20px;
}

.player-info__stats__top-row__right-col {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
}

.player-info__stats__top-row__right-col > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player-info__stats__top-row__right-col__detail {
  margin: 10px;
  font-size: 20px;
}

.player-info__stats__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.player-info__stats__bottom-row__first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.player-info__stats__bottom-row__first-row__cols {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.player-info__stats__bottom-row__first-row__cols p {
  font-size: 20px;
}

.player-info__stats__bottom-row__second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.player-info__stats__bottom-row__second-row__cols {
  border: 1px solid white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.player-info__stats__bottom-row__second-row__cols p {
  font-size: 17.58px;
}
/*# sourceMappingURL=PlayerInfoPage.css.map */