.segment {
  height: 171px;
  left: 0px;
  top: 0px;
  background: #c43c3c;

  > div {
    &:first-child {
      padding-top: 45px;
      // the 'NBA Base' title in the heading is a bit close to the navigation bar, so I was trying to move it upwards. The commented code below was not working
      // position: relative;
      // padding-bottom: 10px;
      font-family: "Kanit";
      font-style: normal;
      font-weight: 600;
      font-size: 64px;
      line-height: 75px;
      text-align: center;
      color: #000000 !important;
    }
  }

  &__nba-header {
    color: #000000;

    &:hover {
      color: #000000;
    }
  }
}
