.result-card {
  width: 50%;
  height: 512px;
  margin-top: 30px;
  border-radius: 12px;
  box-shadow: 0 3px 99px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__left-col,
  &__right-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  &__right-col {
    align-items: flex-start !important;
    > ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }
    &__detail-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      width: 200px;
      p {
        margin: 4px;
        &:first-child {
          color: grey;
          font-size: 10px;
        }
      }
      img {
        width: 20px;
      }
    }
  }
}
