.team-info {
  width: 100%;
  height: 783px;
  background-color: rgb(40, 40, 40);
  display: flex;
  flex-direction: column;
  position: relative;

  &__result-card {
    margin: 20px;
    box-shadow: 0 3px 99px rgba(0, 0, 0, 0.25);
    background-color: rgb(53, 53, 53);
    position: relative;
    border-radius: 12px;

    &__top-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      &__left-col {
        width: 316px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        img {
          width: 100%;
          height: 100%;
        }
      }

      &__mid-col {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 30px;
        p {
          color: white;
          font-size: 25px;
        }
      }

      &__right-col {
        display: flex;
        flex-direction: column;
        margin: 30px;
        p {
          color: white;
          font-size: 25px;
          margin-top: 17px;
        }
      }

      &__right-most-col {
        width: 316px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__mid-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: rgb(70, 70, 70);
      p {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        color: white;
        font-size: 20px;
      }
    }

    &__bottom-row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      p {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        color: white;
        font-size: 20px;
        padding-right: 24px;
      }
    }
  }
}
